/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-url: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --color-main: #353430;
  --color-title: #ffc2e6;
  --color-text-main: #353430;
  --color-text: #353430;
  --accent-color: #ff8dcb;
  --underline-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-url: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --color-main: #353430;
    --color-title: #ffc2e6;
    --color-text-main: #353430;
    --color-text: #353430;
    --accent-color: #ff8dcb;
    --underline-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
  }
}